@import url(main.css);

/* .processing {
  width: 75px;
  height: 75px;
  border-radius: 10px;
  background-color: #202020;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #121212;
} */
